<!--<!DOCTYPE html>-->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TGIF - Senate - Attendance</title>
</head>

<body id="senate">
	<header>
		<a href="#"><img src="images/logo-2721837_1280_only.jpg" alt="TGIF logo" class="logo"></a>
		<h1>TRANSPARENT GOVERNMENT IN FACT</h1>
		<a href="mailto:info@tgif.net" class="email"><i class="far fa-envelope"></i> info@tgif.net</a>
	</header>
	<nav class="navbar navbar-expand-sm">
		<ul class="navbar-nav navigation">
			<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Congress 113</a>
				<ul class="dropdown-menu">
					<li><a href="senate-data.html" class="dropdown-item">Senate</a></li>
					<li><a href="house-data.html" class="dropdown-item">House</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Attendance</a>
				<ul class="dropdown-menu">
					<li><a href="#" class="dropdown-item">Senate</a></li>
					<li><a href="house-attendance.html" class="dropdown-item">House</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty</a>
				<ul class="dropdown-menu">
					<li><a href="senate-party-loyalty.html" class="dropdown-item">Senate</a></li>
					<li><a href="house-party-loyalty.html" class="dropdown-item">House</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<div class="container-fluid main-text" id="app">
		<div class="attendance">
			<div class="tables-text">
				<h2>Attendance</h2>
				<p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

				<p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
			</div>
			<div class="at-a-glance-table">
				<h2>Senate at a glance</h2>
				<table class="table text-center table-striped">
					<thead>
						<tr>
							<th>Party</th>
							<th>Number of Reps</th>
							<th>% Voted with Party</th>
						</tr>
					</thead>
					<tbody id="at-a-glance">
						<tr v-for="party in parties">
							<td>{{ party.name }}</td>
							<td>{{ party.numberOfReps }}</td>
							<td>{{ party.avgVoteswParty }}%</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>Total</td>
							<td>{{ totalReps() }}</td>
							<td>{{ totalAvgVotes() }}%</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="tables">
			<div class="least-most">
				<h2>Least Engaged (Bottom 10% Attendance)</h2>
				<table class="table text-center table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Number of Missed Votes</th>
							<th>% Missed</th>
						</tr>
					</thead>
					<tbody id="least-engaged">
						<tr v-for="member in leastEngaged">
							<td><a :href="member.url" target="_blank">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</a></td>
							<td>{{ member.missed_votes }}</td>
							<td>{{ member.missed_votes_pct }}%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="least-most">
				<h2>Most Engaged (Top 10% Attendance)</h2>
				<table class="table text-center table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Number of Missed Votes</th>
							<th>% Missed</th>
						</tr>
					</thead>
					<tbody id="most-engaged">
						<tr v-for="member in mostEngaged">
							<td><a :href="member.url" target="_blank">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</a></td>
							<td>{{ member.missed_votes }}</td>
							<td>{{ member.missed_votes_pct }}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer>
		<p>&copy; 2016 TGIF | All rights reserved</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<!--	<script src="pro-congress-113-senate.js"></script>-->
	<script src="main.js"></script>
</body>

</html>
