
.navigation {
	background-color: #e2e1a7;
	width: 100%;
	padding-left: 50px;
}

.navbar {
	padding: 0;
}

.navigation li a {
	color: black;
}

.navigation li a:hover {
	color: black;
	background-color: #88b0b040;
}

.main-text {
	margin: 25px auto 25px auto;
	width: 95%;
}

footer {
	background-color: #e2e1a7;
	width: 100%;
	padding: 5px 0 5px 0;
}
footer p {
	margin-bottom: 0;
	text-align: center;
}

header {
	margin: 25px 25px 25px 25px;
	display: flex;
	align-items: center;
}

header a {
	flex-grow: 1;
	color: black;
}

header h1 {
	margin-bottom: 0;
	margin: 15px 15px 15px 15px;
	color: #88B0B0;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
}

.logo {
	height: 100px;
}

.email {
	text-align: right;
}

.party-filter {
	display: flex;
}

.filters p {
	margin-right: 25px;
}

.party-filter label {
	margin-right: 15px;
}

.party-filter input {
	margin-right: 5px;
}

.home-text {
	display: flex;
}

.home-img img {
	width: 300px;
	margin: 50px 50px 50px 50px;
}

.filters {
	display: flex;
	justify-content: space-between;
}

.state-filter {
	display: flex;
	align-items: center;
}

.state-filter select {
	margin-bottom: 16px;
}

.attendance,
.loyalty {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.tables-text {
	max-width: 50%;
}

.at-a-glance-table {
	text-align: center;
	margin: 25px 25px 25px 25px;
}

.tables {
	display: flex;
	border-top: 1px solid grey;
	padding-top: 20px;
}
.table {
	margin-bottom: 50px;
}
.least-most {
	margin: 25px 25px 25px 25px;
	flex-grow: 1;
	text-align: center;
}

.member-list tr td:first-child {
	width: 270px;
}

.no-members {
	text-align: center;
	font-weight: bold;
}

/*LOADER*/
.lds-ring {
	display: flex;
	justify-content: space-around;
	height: 64px;
	margin: 30px 30px 30px 30px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #88B0B0;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #88B0B0 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}




.card-header {
	margin-bottom: 30px;
}
